.main {
    .modal {
        .modal-content {
            .content {
                .summary {
                    .statistics-sources {
                        .source-item {
                            .source-status {
                                margin-right: 5px;

                                i {
                                    &.fa-check-circle {
                                        color: #4ed237;
                                    }

                                    &.fa-times-circle {
                                        color: #d22c32;
                                    }

                                    &.fa-exclamation-circle {
                                        color: #ffb400;
                                    }

                                    &.fa-dot-circle {
                                        color: #00b9ff;
                                    }

                                    &.fa-stream {
                                        color: #e000d0;
                                    }

                                    &.fa-tools {
                                        color: #ffef00;
                                    }
                                }
                            }

                            .source-name {
                                width: 30px;
                                margin-right: 5px;
                                margin-top: 1px;

                                &.empty {
                                    width: 520px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}