.main {
    .page {
        .main-container {
            .container {
                .box {
                    .leading {
                        .location-container {
                            a {
                                width: 32px;
                                height: 32px;
                                color: transparent;
                            }

                            i,
                            .location,
                            .location-empty {
                                display: inline-block;
                                width: 32px;
                                height: 32px;
                                margin-right: 5px;
                            }

                            i {
                                color: #ffffff;
                                font-size: 22px;
                                position: relative;
                                top: 5px;
                                left: 3px;
                                display: table-caption;
                                width: 37px;

                                &:hover {
                                    color: #00b9ff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}