.main {
    .page {
        .main-container {
            .container {
                .box {
                    .no-data-container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 96px;

                        .icon {
                            margin-right: 5px;

                            i {
                                font-size: 15px;
                            }
                        }

                        .title {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}