.main {
    .modal {
        .modal-content {
            &.country {
                .content {
                    .country-summary {
                        .statistics-sources {
                            display: flex;
                            flex-direction: column;
                            font-size: 11px;
                            width: 100%;
                            margin-top: 2px;
                        }
                    }
                }
            }
        }
    }
}