.main {
    .main-container {
        .container {
            .box {
                &.master {
                    .settings {
                        .options {
                            .views {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                width: 120px;
                            }
                        }
                    }
                }
            }
        }
    }
}