.main {
    .page {
        .main-container {
            .container {
                .box {
                    .statistics {
                        .item {
                            display: flex;
                            flex-direction: row;
                            margin-top: 2px;
                            margin-right: 5px;

                            .icon {
                                margin-right: 2px;

                                i {
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}