.main {
    .main-container {
        .container {
            .box {
                &.master {
                    .settings {
                        .options {
                            .buttons {
                                width: 100%;
                                text-align: center;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
}