.main {
    .modal {
        .modal-content {
            .sources-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .sources-select {
                    width: 90%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    border: 1px solid rgba(255, 255, 255, 0.1);
                    padding: 5px;
                    margin-top: 10px;

                    .title {
                        width: 45%;
                        font-size: 18px;
                        margin-left: 10px;
                        margin-top: 10px;
                        color: #00b9ff;
                    }

                    .sources-list {
                        width: 63%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: flex-start;

                        .source {
                            width: 50px;
                            height: 50px;
                            margin: 4px;
                            box-sizing: border-box;
                            line-height: 1;
                            background-color: rgba(255, 255, 255, 0.1);
                            border: 1px solid rgba(255, 255, 255, 0.1);
                            box-shadow: 1px 7px 22px -6px rgba(0, 0, 0, 0.53);
                            outline: 1px solid rgba(255, 255, 255, 0.4);
                            transition: transform 100ms ease-out;
                            transform: translateZ(0);
                            -webkit-touch-callout: none;
                            -webkit-user-select: none;
                            user-select: none;
                            cursor: pointer;
                            text-align: center;
                            padding-top: 7px;

                            &:hover,
                            &:focus {
                                -webkit-transform: scale(1.03);
                                transform: scale(1.03);
                                background-color: rgba(255, 255, 255, 0.2);
                            }

                            &.active {
                                box-shadow: 0px 4px 15px rgba(0, 0, 0, 1);
                                border-color: #4ed237;
                                background-color: rgba(78, 211, 50, 0.5);
                            }

                            .image {
                                i {
                                    display: inline-block;
                                    text-align: center;
                                    width: 32px;
                                    height: 23px;
                                }
                            }

                            .name {
                                font-size: 12px;
                                text-align: center;
                            }
                        }
                    }
                }

                .interval-select {
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    margin-top: 5px;
                    width: 100%;
                    margin-left: 8%;

                    .title {
                        text-align: center;
                        font-size: 15px;
                        margin-right: 5px;
                        color: #00b9ff;
                    }

                    .time-selector {
                        display: flex;
                        width: 50px;
                        height: 16px;
                        background: #2c3e50;
                        overflow: hidden;
                        border: 1px solid rgba(255, 255, 255, 0.1);

                        select {
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            -ms-appearance: none;
                            appearance: none;
                            outline: 0;
                            box-shadow: none;
                            border: 0 !important;
                            background: #2c3e50;
                            background-image: none;
                            flex: 1;
                            padding-left: 5px;
                            color: #ffffff;
                            cursor: pointer;
                            font-size: 10px;
                            line-height: 1;
                            text-align: center;

                            &::-ms-expand {
                                display: none;
                            }
                        }
                    }
                }

                .confirm-container {
                    display: flex;
                    flex-direction: row;
                    text-align: center;
                    align-items: center;
                    justify-content: center;

                    button {
                        width: 50px;
                        height: 25px;
                        margin-top: 7px;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        outline: 0;
                        box-shadow: none;
                        border: 1px solid rgba(255, 255, 255, 0.1);
                        background: #2c3e50;
                        background-image: none;
                        cursor: pointer;
                        color: #ffffff;

                        &:hover {
                            background: #000000;
                        }
                    }
                }
            }
        }
    }
}