.main {
    .page {
        .main-container {
            .container {
                .box {
                    .data {
                        width: 100%;
                        margin-left: 5px;
                        text-align: center;

                        .sources {
                            height: 96px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}