.main {
    .page {
        .main-container {
            .container {
                .box {
                    .data {
                        .sources {
                            .source {
                                .items {
                                    .item {
                                        display: flex;
                                        flex-direction: row;
                                        margin-right: 2px;
                                        width: 70px;

                                        .icon {
                                            margin-right: 2px;
                                        }

                                        .number {
                                            width: 100%;
                                            text-align: left;

                                            &.no-data {
                                                letter-spacing: 5px;
                                            }
                                        }

                                        &.case {

                                            .icon,
                                            .number {
                                                color: #00b9ff;
                                            }
                                        }

                                        &.death {

                                            .icon,
                                            .number {
                                                color: #d22c32;
                                            }
                                        }

                                        &.recover {

                                            .icon,
                                            .number {
                                                color: #4ed237;
                                            }
                                        }

                                        &.case,
                                        &.death,
                                        &.recover {
                                            .icon {
                                                animation: shake 2s 0s infinite;
                                                -moz-animation: shake 2s 0s infinite;
                                                -webkit-animation: shake 2s 0s infinite;
                                                -o-animation: shake 2s 0s infinite;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}