.main {
    .page {
        .main-container {
            .container {
                .box {
                    .statistics {
                        display: flex;
                        flex-direction: row;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}