.main {
    .modal {
        .modal-content {
            .content {
                .updates {
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    align-items: flex-start;
                    height: 20em;
                    width: 95%;
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    position: relative;
                    top: -10px;
                    z-index: 1;

                    .latest-updates {
                        display: flex;
                        flex-direction: row;
                        justify-content: left;
                        margin-top: 5px;
                        margin-bottom: 5px;

                        .title {
                            text-align: center;
                            font-size: 15px;
                            color: #00b9ff;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}