.main {
    .main-container {
        .container {
            .box {
                &.master {
                    .action-loader {
                        width: 100%;
                        height: 100%;
                        background-color: #000000;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;

                        i {
                            font-size: 80px;
                            color: #00b9ff;
                        }

                        .source {
                            position: relative;
                            top: 15px;
                        }
                    }
                }
            }
        }
    }
}