.main {
    .main-container {
        .container {
            .box {
                &.master {
                    .settings {
                        .times-container {
                            .update-loader {
                                margin-left: 13px;
                                margin-top: 3px;
                                text-align: center;
                                background-color: #000000;
                                height: 18px;
                                width: 25px;
                                padding-top: 3px;
                                border: 1px solid rgba(255, 255, 255, 0.1);
                                box-shadow: 1px 7px 22px -6px rgba(0, 0, 0, 0.53);
                                outline: 1px solid rgba(255, 255, 255, 0.4);

                                i {
                                    font-size: 14px;
                                    color: #00b9ff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}