.main {
    .main-container {
        .container {
            .box {
                &.master {
                    .settings {
                        .logo-holder {
                            .line1 {
                                display: flex;
                                flex-direction: row;
                                justify-content: left;
                                align-items: center;
                                background-color: #000000;

                                h3 {
                                    margin-left: 3px;
                                    color: #e74c3c;
                                    font-size: 17px;
                                    line-height: 1.3;
                                    text-align: center;
                                    font-weight: bold;
                                }

                                .items {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    width: 105px;
                                }
                            }

                            .line2 {
                                p {
                                    font-size: 11px;
                                    letter-spacing: 1px;
                                    text-transform: uppercase;
                                    background: #15202e;
                                    font-weight: 400;
                                    text-align: left;
                                    color: #ffffff;
                                    padding: 2px;
                                    background-color: rgba(255, 255, 255, 0.2);
                                    padding-left: 5px;
                                    width: 234px;
                                }

                                span {
                                    letter-spacing: 0px;
                                    font-size: 9px;
                                    text-transform: none;
                                }

                                .mode {
                                    text-transform: capitalize;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}