/* cSpell:disable */

.big-flag {
    height: 90px;
    width: 125px;
    background-repeat: no-repeat;
    background-size: contain;

    &.aland_islands {
        background-image: url('../images/countries/flag/aland_islands.png');
    }

    &.abkhazia {
        background-image: url('../images/countries/flag/abkhazia.png');
    }

    &.abyei {
        background-image: url('../images/countries/flag/abyei.png');
    }

    &.aceh {
        background-image: url('../images/countries/flag/aceh.png');
    }

    &.adjara {
        background-image: url('../images/countries/flag/adjara.png');
    }

    &.adygea {
        background-image: url('../images/countries/flag/adygea.png');
    }

    &.afghanistan {
        background-image: url('../images/countries/flag/afghanistan.png');
    }

    &.akrotiri_and_dhekelia {
        background-image: url('../images/countries/flag/akrotiri_and_dhekelia.png');
    }

    &.albania {
        background-image: url('../images/countries/flag/albania.png');
    }

    &.algeria {
        background-image: url('../images/countries/flag/algeria.png');
    }

    &.altai_republic {
        background-image: url('../images/countries/flag/altai_republic.png');
    }

    &.american_samoa {
        background-image: url('../images/countries/flag/american_samoa.png');
    }

    &.andorra {
        background-image: url('../images/countries/flag/andorra.png');
    }

    &.angola {
        background-image: url('../images/countries/flag/angola.png');
    }

    &.anguilla {
        background-image: url('../images/countries/flag/anguilla.png');
    }

    &.antarctica {
        background-image: url('../images/countries/flag/antarctica.png');
    }

    &.antigua_and_barbuda {
        background-image: url('../images/countries/flag/antigua_and_barbuda.png');
    }

    &.aosta_valley {
        background-image: url('../images/countries/flag/aosta_valley.png');
    }

    &.argentina {
        background-image: url('../images/countries/flag/argentina.png');
    }

    &.armenia {
        background-image: url('../images/countries/flag/armenia.png');
    }

    &.artsakh {
        background-image: url('../images/countries/flag/artsakh.png');
    }

    &.aruba {
        background-image: url('../images/countries/flag/aruba.png');
    }

    &.ascension_island {
        background-image: url('../images/countries/flag/ascension_island.png');
    }

    &.ashanti {
        background-image: url('../images/countries/flag/ashanti.png');
    }

    &.australia {
        background-image: url('../images/countries/flag/australia.png');
    }

    &.australian_antarctic_territory {
        background-image: url('../images/countries/flag/australian_antarctic_territory.png');
    }

    &.austria {
        background-image: url('../images/countries/flag/austria.png');
    }

    &.azad_kashmir {
        background-image: url('../images/countries/flag/azad_kashmir.png');
    }

    &.azerbaijan {
        background-image: url('../images/countries/flag/azerbaijan.png');
    }

    &.azores {
        background-image: url('../images/countries/flag/azores.png');
    }

    &.bahamas {
        background-image: url('../images/countries/flag/bahamas.png');
    }

    &.bahrain {
        background-image: url('../images/countries/flag/bahrain.png');
    }

    &.bajo_nuevo_bank {
        background-image: url('../images/countries/flag/bajo_nuevo_bank.png');
    }

    &.baker_island {
        background-image: url('../images/countries/flag/baker_island.png');
    }

    &.balleny_islands {
        background-image: url('../images/countries/flag/balleny_islands.png');
    }

    &.bangladesh {
        background-image: url('../images/countries/flag/bangladesh.png');
    }

    &.bangsamoro {
        background-image: url('../images/countries/flag/bangsamoro.png');
    }

    &.barbados {
        background-image: url('../images/countries/flag/barbados.png');
    }

    &.bashkortostan {
        background-image: url('../images/countries/flag/bashkortostan.png');
    }

    &.basque {
        background-image: url('../images/countries/flag/basque.png');
    }

    &.belarus {
        background-image: url('../images/countries/flag/belarus.png');
    }

    &.belgium {
        background-image: url('../images/countries/flag/belgium.png');
    }

    &.belize {
        background-image: url('../images/countries/flag/belize.png');
    }

    &.benin {
        background-image: url('../images/countries/flag/benin.png');
    }

    &.bermuda {
        background-image: url('../images/countries/flag/bermuda.png');
    }

    &.bhutan {
        background-image: url('../images/countries/flag/bhutan.png');
    }

    &.bolivia {
        background-image: url('../images/countries/flag/bolivia.png');
    }

    &.bonaire_caribbean_netherlands {
        background-image: url('../images/countries/flag/bonaire_caribbean_netherlands.png');
    }

    &.bosnia_and_herzegovina {
        background-image: url('../images/countries/flag/bosnia_and_herzegovina.png');
    }

    &.botswana {
        background-image: url('../images/countries/flag/botswana.png');
    }

    &.bougainville {
        background-image: url('../images/countries/flag/bougainville.png');
    }

    &.bouvet_island {
        background-image: url('../images/countries/flag/bouvet_island.png');
    }

    &.brazil {
        background-image: url('../images/countries/flag/brazil.png');
    }

    &.british_antarctic_territory {
        background-image: url('../images/countries/flag/british_antarctic_territory.png');
    }

    &.british_indian_ocean_territory {
        background-image: url('../images/countries/flag/british_indian_ocean_territory.png');
    }

    &.brunei_darussalam {
        background-image: url('../images/countries/flag/brunei_darussalam.png');
    }

    &.brcko_district {
        background-image: url('../images/countries/flag/brcko_district.png');
    }

    &.bulgaria {
        background-image: url('../images/countries/flag/bulgaria.png');
    }

    &.burkina_faso {
        background-image: url('../images/countries/flag/burkina_faso.png');
    }

    &.burundi {
        background-image: url('../images/countries/flag/burundi.png');
    }

    &.buryatia {
        background-image: url('../images/countries/flag/buryatia.png');
    }

    &.cambodia {
        background-image: url('../images/countries/flag/cambodia.png');
    }

    &.cameroon {
        background-image: url('../images/countries/flag/cameroon.png');
    }

    &.canada {
        background-image: url('../images/countries/flag/canada.png');
    }

    &.canary_islands {
        background-image: url('../images/countries/flag/canary_islands.png');
    }

    &.cape_verde_cabo_verde {
        background-image: url('../images/countries/flag/cape_verde_cabo_verde.png');
    }

    &.catalonia {
        background-image: url('../images/countries/flag/catalonia.png');
    }

    &.cayman_islands {
        background-image: url('../images/countries/flag/cayman_islands.png');
    }

    &.central_african_republic {
        background-image: url('../images/countries/flag/central_african_republic.png');
    }

    &.ceuta_and_melilla {
        background-image: url('../images/countries/flag/ceuta_and_melilla.png');
    }

    &.chad {
        background-image: url('../images/countries/flag/chad.png');
    }

    &.chechnya {
        background-image: url('../images/countries/flag/chechnya.png');
    }

    &.chile {
        background-image: url('../images/countries/flag/chile.png');
    }

    &.chin_state {
        background-image: url('../images/countries/flag/chin_state.png');
    }

    &.china {
        background-image: url('../images/countries/flag/china.png');
    }

    &.christmas_island {
        background-image: url('../images/countries/flag/christmas_island.png');
    }

    &.chuvashia {
        background-image: url('../images/countries/flag/chuvashia.png');
    }

    &.clipperton_island {
        background-image: url('../images/countries/flag/clipperton_island.png');
    }

    &.cocos_keeling_islands {
        background-image: url('../images/countries/flag/cocos_keeling_islands.png');
    }

    &.colombia {
        background-image: url('../images/countries/flag/colombia.png');
    }

    &.comoros {
        background-image: url('../images/countries/flag/comoros.png');
    }

    &.congo_brazzaville {
        background-image: url('../images/countries/flag/congo_brazzaville.png');
    }

    &.congo_kinshasa {
        background-image: url('../images/countries/flag/congo_kinshasa.png');
    }

    &.cook_islands {
        background-image: url('../images/countries/flag/cook_islands.png');
    }

    &.coral_sea_islands {
        background-image: url('../images/countries/flag/coral_sea_islands.png');
    }

    &.corsica {
        background-image: url('../images/countries/flag/corsica.png');
    }

    &.costa_rica {
        background-image: url('../images/countries/flag/costa_rica.png');
    }

    &.crimea {
        background-image: url('../images/countries/flag/crimea.png');
    }

    &.croatia {
        background-image: url('../images/countries/flag/croatia.png');
    }

    &.cuba {
        background-image: url('../images/countries/flag/cuba.png');
    }

    &.curacao {
        background-image: url('../images/countries/flag/curacao.png');
    }

    &.cyprus {
        background-image: url('../images/countries/flag/cyprus.png');
    }

    &.czechia_czech_republic {
        background-image: url('../images/countries/flag/czechia_czech_republic.png');
    }

    &.cote_divoire_ivory_coast {
        background-image: url('../images/countries/flag/cote_divoire_ivory_coast.png');
    }

    &.dagestan {
        background-image: url('../images/countries/flag/dagestan.png');
    }

    &.denmark {
        background-image: url('../images/countries/flag/denmark.png');
    }

    &.diego_garcia {
        background-image: url('../images/countries/flag/diego_garcia.png');
    }

    &.djibouti {
        background-image: url('../images/countries/flag/djibouti.png');
    }

    &.dominica {
        background-image: url('../images/countries/flag/dominica.png');
    }

    &.dominican_republic {
        background-image: url('../images/countries/flag/dominican_republic.png');
    }

    &.donetsk_peoples_republic {
        background-image: url('../images/countries/flag/donetsk_peoples_republic.png');
    }

    &.easter_island {
        background-image: url('../images/countries/flag/easter_island.png');
    }

    &.ecuador {
        background-image: url('../images/countries/flag/ecuador.png');
    }

    &.egypt {
        background-image: url('../images/countries/flag/egypt.png');
    }

    &.el_salvador {
        background-image: url('../images/countries/flag/el_salvador.png');
    }

    &.england {
        background-image: url('../images/countries/flag/england.png');
    }

    &.equatorial_guinea {
        background-image: url('../images/countries/flag/equatorial_guinea.png');
    }

    &.eritrea {
        background-image: url('../images/countries/flag/eritrea.png');
    }

    &.estonia {
        background-image: url('../images/countries/flag/estonia.png');
    }

    &.eswatini_swaziland {
        background-image: url('../images/countries/flag/eswatini_swaziland.png');
    }

    &.ethiopia {
        background-image: url('../images/countries/flag/ethiopia.png');
    }

    &.falkland_islands_malvinas {
        background-image: url('../images/countries/flag/falkland_islands_malvinas.png');
    }

    &.faroe_islands {
        background-image: url('../images/countries/flag/faroe_islands.png');
    }

    &.fiji {
        background-image: url('../images/countries/flag/fiji.png');
    }

    &.finland {
        background-image: url('../images/countries/flag/finland.png');
    }

    &.flanders {
        background-image: url('../images/countries/flag/flanders.png');
    }

    &.france {
        background-image: url('../images/countries/flag/france.png');
    }

    &.french_guiana {
        background-image: url('../images/countries/flag/french_guiana.png');
    }

    &.french_polynesia {
        background-image: url('../images/countries/flag/french_polynesia.png');
    }

    &.french_southern_territories {
        background-image: url('../images/countries/flag/french_southern_territories.png');
    }

    &.friuli_venezia_giulia {
        background-image: url('../images/countries/flag/friuli_venezia_giulia.png');
    }

    &.gabon {
        background-image: url('../images/countries/flag/gabon.png');
    }

    &.gagauzia {
        background-image: url('../images/countries/flag/gagauzia.png');
    }

    &.galicia {
        background-image: url('../images/countries/flag/galicia.png');
    }

    &.galmudug {
        background-image: url('../images/countries/flag/galmudug.png');
    }

    &.gambia {
        background-image: url('../images/countries/flag/gambia.png');
    }

    &.gaza_strip {
        background-image: url('../images/countries/flag/gaza_strip.png');
    }

    &.georgia {
        background-image: url('../images/countries/flag/georgia.png');
    }

    &.germany {
        background-image: url('../images/countries/flag/germany.png');
    }

    &.ghana {
        background-image: url('../images/countries/flag/ghana.png');
    }

    &.gibraltar {
        background-image: url('../images/countries/flag/gibraltar.png');
    }

    &.gilgit_baltistan {
        background-image: url('../images/countries/flag/gilgit_baltistan.png');
    }

    &.gorno_badakhshan {
        background-image: url('../images/countries/flag/gorno_badakhshan.png');
    }

    &.greece {
        background-image: url('../images/countries/flag/greece.png');
    }

    &.greenland {
        background-image: url('../images/countries/flag/greenland.png');
    }

    &.grenada {
        background-image: url('../images/countries/flag/grenada.png');
    }

    &.guadeloupe {
        background-image: url('../images/countries/flag/guadeloupe.png');
    }

    &.guam {
        background-image: url('../images/countries/flag/guam.png');
    }

    &.guangxi {
        background-image: url('../images/countries/flag/guangxi.png');
    }

    &.guatemala {
        background-image: url('../images/countries/flag/guatemala.png');
    }

    &.guernsey {
        background-image: url('../images/countries/flag/guernsey.png');
    }

    &.guinea {
        background-image: url('../images/countries/flag/guinea.png');
    }

    &.guinea_bissau {
        background-image: url('../images/countries/flag/guinea_bissau.png');
    }

    &.guyana {
        background-image: url('../images/countries/flag/guyana.png');
    }

    &.haiti {
        background-image: url('../images/countries/flag/haiti.png');
    }

    &.heard_island_and_mcdonald_islands {
        background-image: url('../images/countries/flag/heard_island_and_mcdonald_islands.png');
    }

    &.hirshabelle_state {
        background-image: url('../images/countries/flag/hirshabelle_state.png');
    }

    &.honduras {
        background-image: url('../images/countries/flag/honduras.png');
    }

    &.hong_kong {
        background-image: url('../images/countries/flag/hong_kong.png');
    }

    &.howland_island {
        background-image: url('../images/countries/flag/howland_island.png');
    }

    &.hungary {
        background-image: url('../images/countries/flag/hungary.png');
    }

    &.iceland {
        background-image: url('../images/countries/flag/iceland.png');
    }

    &.india {
        background-image: url('../images/countries/flag/india.png');
    }

    &.indian_reservation {
        background-image: url('../images/countries/flag/indian_reservation.png');
    }

    &.indonesia {
        background-image: url('../images/countries/flag/indonesia.png');
    }

    &.ingushetia {
        background-image: url('../images/countries/flag/ingushetia.png');
    }

    &.inner_mongolia {
        background-image: url('../images/countries/flag/inner_mongolia.png');
    }

    &.iran {
        background-image: url('../images/countries/flag/iran.png');
    }

    &.iraq {
        background-image: url('../images/countries/flag/iraq.png');
    }

    &.ireland {
        background-image: url('../images/countries/flag/ireland.png');
    }

    &.isle_of_man {
        background-image: url('../images/countries/flag/isle_of_man.png');
    }

    &.israel {
        background-image: url('../images/countries/flag/israel.png');
    }

    &.italy {
        background-image: url('../images/countries/flag/italy.png');
    }

    &.jamaica {
        background-image: url('../images/countries/flag/jamaica.png');
    }

    &.jammu_and_kashmir {
        background-image: url('../images/countries/flag/jammu_and_kashmir.png');
    }

    &.japan {
        background-image: url('../images/countries/flag/japan.png');
    }

    &.jarvis_island {
        background-image: url('../images/countries/flag/jarvis_island.png');
    }

    &.jeju_island {
        background-image: url('../images/countries/flag/jeju_island.png');
    }

    &.jersey_channel_islands {
        background-image: url('../images/countries/flag/jersey_channel_islands.png');
    }

    &.jewish_autonomous_oblast {
        background-image: url('../images/countries/flag/jewish_autonomous_oblast.png');
    }

    &.johnston_atoll {
        background-image: url('../images/countries/flag/johnston_atoll.png');
    }

    &.jordan {
        background-image: url('../images/countries/flag/jordan.png');
    }

    &.jubaland {
        background-image: url('../images/countries/flag/jubaland.png');
    }

    &.kabardino_balkaria {
        background-image: url('../images/countries/flag/kabardino_balkaria.png');
    }

    &.kachin_state {
        background-image: url('../images/countries/flag/kachin_state.png');
    }

    &.kalmykia {
        background-image: url('../images/countries/flag/kalmykia.png');
    }

    &.karachay_cherkessia {
        background-image: url('../images/countries/flag/karachay_cherkessia.png');
    }

    &.karakalpakstan {
        background-image: url('../images/countries/flag/karakalpakstan.png');
    }

    &.karelia {
        background-image: url('../images/countries/flag/karelia.png');
    }

    &.kayah_state {
        background-image: url('../images/countries/flag/kayah_state.png');
    }

    &.kayin_state {
        background-image: url('../images/countries/flag/kayin_state.png');
    }

    &.kazakhstan {
        background-image: url('../images/countries/flag/kazakhstan.png');
    }

    &.kenya {
        background-image: url('../images/countries/flag/kenya.png');
    }

    &.khakassia {
        background-image: url('../images/countries/flag/khakassia.png');
    }

    &.kingman_reef {
        background-image: url('../images/countries/flag/kingman_reef.png');
    }

    &.kiribati {
        background-image: url('../images/countries/flag/kiribati.png');
    }

    &.komi_republic {
        background-image: url('../images/countries/flag/komi_republic.png');
    }

    &.koofur_orsi {
        background-image: url('../images/countries/flag/koofur_orsi.png');
    }

    &.kosovo {
        background-image: url('../images/countries/flag/kosovo.png');
    }

    &.kurdistan {
        background-image: url('../images/countries/flag/kurdistan.png');
    }

    &.kuwait {
        background-image: url('../images/countries/flag/kuwait.png');
    }

    &.kyrgyzstan {
        background-image: url('../images/countries/flag/kyrgyzstan.png');
    }

    &.laos {
        background-image: url('../images/countries/flag/laos.png');
    }

    &.latvia {
        background-image: url('../images/countries/flag/latvia.png');
    }

    &.lebanon {
        background-image: url('../images/countries/flag/lebanon.png');
    }

    &.lesotho {
        background-image: url('../images/countries/flag/lesotho.png');
    }

    &.liberia {
        background-image: url('../images/countries/flag/liberia.png');
    }

    &.libya {
        background-image: url('../images/countries/flag/libya.png');
    }

    &.liechtenstein {
        background-image: url('../images/countries/flag/liechtenstein.png');
    }

    &.lithuania {
        background-image: url('../images/countries/flag/lithuania.png');
    }

    &.luhansk_peoples_republic {
        background-image: url('../images/countries/flag/luhansk_peoples_republic.png');
    }

    &.luxembourg {
        background-image: url('../images/countries/flag/luxembourg.png');
    }

    &.macau_macao {
        background-image: url('../images/countries/flag/macau_macao.png');
    }

    &.madagascar {
        background-image: url('../images/countries/flag/madagascar.png');
    }

    &.madeira {
        background-image: url('../images/countries/flag/madeira.png');
    }

    &.malawi {
        background-image: url('../images/countries/flag/malawi.png');
    }

    &.malaysia {
        background-image: url('../images/countries/flag/malaysia.png');
    }

    &.maldives {
        background-image: url('../images/countries/flag/maldives.png');
    }

    &.mali {
        background-image: url('../images/countries/flag/mali.png');
    }

    &.malta {
        background-image: url('../images/countries/flag/malta.png');
    }

    &.mari_el {
        background-image: url('../images/countries/flag/mari_el.png');
    }

    &.marquesas_islands {
        background-image: url('../images/countries/flag/marquesas_islands.png');
    }

    &.marshall_islands {
        background-image: url('../images/countries/flag/marshall_islands.png');
    }

    &.martinique {
        background-image: url('../images/countries/flag/martinique.png');
    }

    &.mauritania {
        background-image: url('../images/countries/flag/mauritania.png');
    }

    &.mauritius {
        background-image: url('../images/countries/flag/mauritius.png');
    }

    &.mayotte {
        background-image: url('../images/countries/flag/mayotte.png');
    }

    &.mexico {
        background-image: url('../images/countries/flag/mexico.png');
    }

    &.micronesia {
        background-image: url('../images/countries/flag/micronesia.png');
    }

    &.midway_atoll {
        background-image: url('../images/countries/flag/midway_atoll.png');
    }

    &.moldova {
        background-image: url('../images/countries/flag/moldova.png');
    }

    &.mon_state {
        background-image: url('../images/countries/flag/mon_state.png');
    }

    &.monaco {
        background-image: url('../images/countries/flag/monaco.png');
    }

    &.mongolia {
        background-image: url('../images/countries/flag/mongolia.png');
    }

    &.montenegro {
        background-image: url('../images/countries/flag/montenegro.png');
    }

    &.montserrat {
        background-image: url('../images/countries/flag/montserrat.png');
    }

    &.mordovia {
        background-image: url('../images/countries/flag/mordovia.png');
    }

    &.morocco {
        background-image: url('../images/countries/flag/morocco.png');
    }

    &.mount_athos {
        background-image: url('../images/countries/flag/mount_athos.png');
    }

    &.mozambique {
        background-image: url('../images/countries/flag/mozambique.png');
    }

    &.myanmar_burma {
        background-image: url('../images/countries/flag/myanmar_burma.png');
    }

    &.nakhchivan {
        background-image: url('../images/countries/flag/nakhchivan.png');
    }

    &.namibia {
        background-image: url('../images/countries/flag/namibia.png');
    }

    &.nauru {
        background-image: url('../images/countries/flag/nauru.png');
    }

    &.navassa_island {
        background-image: url('../images/countries/flag/navassa_island.png');
    }

    &.nepal {
        background-image: url('../images/countries/flag/nepal.png');
    }

    &.netherlands {
        background-image: url('../images/countries/flag/netherlands.png');
    }

    &.new_caledonia {
        background-image: url('../images/countries/flag/new_caledonia.png');
    }

    &.new_zealand {
        background-image: url('../images/countries/flag/new_zealand.png');
    }

    &.nicaragua {
        background-image: url('../images/countries/flag/nicaragua.png');
    }

    &.niger {
        background-image: url('../images/countries/flag/niger.png');
    }

    &.nigeria {
        background-image: url('../images/countries/flag/nigeria.png');
    }

    &.ningxia {
        background-image: url('../images/countries/flag/ningxia.png');
    }

    &.niue {
        background-image: url('../images/countries/flag/niue.png');
    }

    &.norfolk_island {
        background-image: url('../images/countries/flag/norfolk_island.png');
    }

    &.north_caribbean {
        background-image: url('../images/countries/flag/north_caribbean.png');
    }

    &.north_korea {
        background-image: url('../images/countries/flag/north_korea.png');
    }

    &.north_macedonia {
        background-image: url('../images/countries/flag/north_macedonia.png');
    }

    &.north_ossetia_alania {
        background-image: url('../images/countries/flag/north_ossetia_alania.png');
    }

    &.northern_cyprus {
        background-image: url('../images/countries/flag/northern_cyprus.png');
    }

    &.northern_ireland {
        background-image: url('../images/countries/flag/northern_ireland.png');
    }

    &.northern_mariana_islands {
        background-image: url('../images/countries/flag/northern_mariana_islands.png');
    }

    &.norway {
        background-image: url('../images/countries/flag/norway.png');
    }

    &.oman {
        background-image: url('../images/countries/flag/oman.png');
    }

    &.other {
        background-image: url('../images/countries/flag/other.png');
    }

    &.pakistan {
        background-image: url('../images/countries/flag/pakistan.png');
    }

    &.palau {
        background-image: url('../images/countries/flag/palau.png');
    }

    &.palestine {
        background-image: url('../images/countries/flag/palestine.png');
    }

    &.palmyra_atoll {
        background-image: url('../images/countries/flag/palmyra_atoll.png');
    }

    &.panama {
        background-image: url('../images/countries/flag/panama.png');
    }

    &.papua {
        background-image: url('../images/countries/flag/papua.png');
    }

    &.papua_new_guinea {
        background-image: url('../images/countries/flag/papua_new_guinea.png');
    }

    &.paraguay {
        background-image: url('../images/countries/flag/paraguay.png');
    }

    &.peru {
        background-image: url('../images/countries/flag/peru.png');
    }

    &.peter_i_island {
        background-image: url('../images/countries/flag/peter_i_island.png');
    }

    &.philippines {
        background-image: url('../images/countries/flag/philippines.png');
    }

    &.pitcairn_islands {
        background-image: url('../images/countries/flag/pitcairn_islands.png');
    }

    &.poland {
        background-image: url('../images/countries/flag/poland.png');
    }

    &.portugal {
        background-image: url('../images/countries/flag/portugal.png');
    }

    &.puerto_rico {
        background-image: url('../images/countries/flag/puerto_rico.png');
    }

    &.puntland {
        background-image: url('../images/countries/flag/puntland.png');
    }

    &.qatar {
        background-image: url('../images/countries/flag/qatar.png');
    }

    &.queen_maud_land {
        background-image: url('../images/countries/flag/queen_maud_land.png');
    }

    &.republika_srpska {
        background-image: url('../images/countries/flag/republika_srpska.png');
    }

    &.rodrigues {
        background-image: url('../images/countries/flag/rodrigues.png');
    }

    &.rojava {
        background-image: url('../images/countries/flag/rojava.png');
    }

    &.romania {
        background-image: url('../images/countries/flag/romania.png');
    }

    &.ross_dependency {
        background-image: url('../images/countries/flag/ross_dependency.png');
    }

    &.rotuma {
        background-image: url('../images/countries/flag/rotuma.png');
    }

    &.russia {
        background-image: url('../images/countries/flag/russia.png');
    }

    &.rwanda {
        background-image: url('../images/countries/flag/rwanda.png');
    }

    &.reunion {
        background-image: url('../images/countries/flag/reunion.png');
    }

    &.saba {
        background-image: url('../images/countries/flag/saba.png');
    }

    &.sahrawi_arab {
        background-image: url('../images/countries/flag/sahrawi_arab.png');
    }

    &.saint_barthelemy {
        background-image: url('../images/countries/flag/saint_barthelemy.png');
    }

    &.saint_helena {
        background-image: url('../images/countries/flag/saint_helena.png');
    }

    &.saint_kitts_and_nevis {
        background-image: url('../images/countries/flag/saint_kitts_and_nevis.png');
    }

    &.saint_lucia {
        background-image: url('../images/countries/flag/saint_lucia.png');
    }

    &.saint_martin {
        background-image: url('../images/countries/flag/saint_martin.png');
    }

    &.saint_pierre_and_miquelon {
        background-image: url('../images/countries/flag/saint_pierre_and_miquelon.png');
    }

    &.saint_vincent_and_grenadines {
        background-image: url('../images/countries/flag/saint_vincent_and_grenadines.png');
    }

    &.sakha {
        background-image: url('../images/countries/flag/sakha.png');
    }

    &.samoa {
        background-image: url('../images/countries/flag/samoa.png');
    }

    &.san_marino {
        background-image: url('../images/countries/flag/san_marino.png');
    }

    &.sardinia {
        background-image: url('../images/countries/flag/sardinia.png');
    }

    &.saudi_arabia {
        background-image: url('../images/countries/flag/saudi_arabia.png');
    }

    &.scotland {
        background-image: url('../images/countries/flag/scotland.png');
    }

    &.scott_island {
        background-image: url('../images/countries/flag/scott_island.png');
    }

    &.senegal {
        background-image: url('../images/countries/flag/senegal.png');
    }

    &.serbia {
        background-image: url('../images/countries/flag/serbia.png');
    }

    &.serranilla_bank {
        background-image: url('../images/countries/flag/serranilla_bank.png');
    }

    &.seychelles {
        background-image: url('../images/countries/flag/seychelles.png');
    }

    &.shan_state {
        background-image: url('../images/countries/flag/shan_state.png');
    }

    &.sicily {
        background-image: url('../images/countries/flag/sicily.png');
    }

    &.sierra_leone {
        background-image: url('../images/countries/flag/sierra_leone.png');
    }

    &.singapore {
        background-image: url('../images/countries/flag/singapore.png');
    }

    &.sint_eustatius {
        background-image: url('../images/countries/flag/sint_eustatius.png');
    }

    &.sint_maarten {
        background-image: url('../images/countries/flag/sint_maarten.png');
    }

    &.slovakia {
        background-image: url('../images/countries/flag/slovakia.png');
    }

    &.slovenia {
        background-image: url('../images/countries/flag/slovenia.png');
    }

    &.solomon_islands {
        background-image: url('../images/countries/flag/solomon_islands.png');
    }

    &.somalia {
        background-image: url('../images/countries/flag/somalia.png');
    }

    &.somaliland {
        background-image: url('../images/countries/flag/somaliland.png');
    }

    &.south_africa {
        background-image: url('../images/countries/flag/south_africa.png');
    }

    &.south_caribbean {
        background-image: url('../images/countries/flag/south_caribbean.png');
    }

    &.south_georgia {
        background-image: url('../images/countries/flag/south_georgia.png');
    }

    &.south_korea {
        background-image: url('../images/countries/flag/south_korea.png');
    }

    &.south_orkney_islands {
        background-image: url('../images/countries/flag/south_orkney_islands.png');
    }

    &.south_ossetia {
        background-image: url('../images/countries/flag/south_ossetia.png');
    }

    &.south_shetland_islands {
        background-image: url('../images/countries/flag/south_shetland_islands.png');
    }

    &.south_sudan {
        background-image: url('../images/countries/flag/south_sudan.png');
    }

    &.spain {
        background-image: url('../images/countries/flag/spain.png');
    }

    &.sri_lanka {
        background-image: url('../images/countries/flag/sri_lanka.png');
    }

    &.sudan {
        background-image: url('../images/countries/flag/sudan.png');
    }

    &.suriname {
        background-image: url('../images/countries/flag/suriname.png');
    }

    &.svalbard_and_jan_mayen {
        background-image: url('../images/countries/flag/svalbard_and_jan_mayen.png');
    }

    &.sweden {
        background-image: url('../images/countries/flag/sweden.png');
    }

    &.switzerland {
        background-image: url('../images/countries/flag/switzerland.png');
    }

    &.syria {
        background-image: url('../images/countries/flag/syria.png');
    }

    &.sao_tome_and_principe {
        background-image: url('../images/countries/flag/sao_tome_and_principe.png');
    }

    &.taiwan {
        background-image: url('../images/countries/flag/taiwan.png');
    }

    &.tajikistan {
        background-image: url('../images/countries/flag/tajikistan.png');
    }

    &.tanzania {
        background-image: url('../images/countries/flag/tanzania.png');
    }

    &.tatarstan {
        background-image: url('../images/countries/flag/tatarstan.png');
    }

    &.temotu {
        background-image: url('../images/countries/flag/temotu.png');
    }

    &.thailand {
        background-image: url('../images/countries/flag/thailand.png');
    }

    &.tibet {
        background-image: url('../images/countries/flag/tibet.png');
    }

    &.timor_leste_east_timor {
        background-image: url('../images/countries/flag/timor_leste_east_timor.png');
    }

    &.togo {
        background-image: url('../images/countries/flag/togo.png');
    }

    &.tokelau {
        background-image: url('../images/countries/flag/tokelau.png');
    }

    &.tonga {
        background-image: url('../images/countries/flag/tonga.png');
    }

    &.transnistria_pridnestrovie {
        background-image: url('../images/countries/flag/transnistria_pridnestrovie.png');
    }

    &.trentino_alto_adige {
        background-image: url('../images/countries/flag/trentino_alto_adige.png');
    }

    &.trinidad_and_tobago {
        background-image: url('../images/countries/flag/trinidad_and_tobago.png');
    }

    &.tunisia {
        background-image: url('../images/countries/flag/tunisia.png');
    }

    &.turkey {
        background-image: url('../images/countries/flag/turkey.png');
    }

    &.turkmenistan {
        background-image: url('../images/countries/flag/turkmenistan.png');
    }

    &.turks_and_caicos {
        background-image: url('../images/countries/flag/turks_and_caicos.png');
    }

    &.tuva {
        background-image: url('../images/countries/flag/tuva.png');
    }

    &.tuvalu {
        background-image: url('../images/countries/flag/tuvalu.png');
    }

    &.udmurtia {
        background-image: url('../images/countries/flag/udmurtia.png');
    }

    &.uganda {
        background-image: url('../images/countries/flag/uganda.png');
    }

    &.ukraine {
        background-image: url('../images/countries/flag/ukraine.png');
    }

    &.united_arab_emirates {
        background-image: url('../images/countries/flag/united_arab_emirates.png');
    }

    &.united_kingdom {
        background-image: url('../images/countries/flag/united_kingdom.png');
    }

    &.united_states {
        background-image: url('../images/countries/flag/united_states.png');
    }

    &.united_states_minor_outlying {
        background-image: url('../images/countries/flag/united_states_minor_outlying.png');
    }

    &.uruguay {
        background-image: url('../images/countries/flag/uruguay.png');
    }

    &.uzbekistan {
        background-image: url('../images/countries/flag/uzbekistan.png');
    }

    &.vanuatu {
        background-image: url('../images/countries/flag/vanuatu.png');
    }

    &.vatican_city_holy_see {
        background-image: url('../images/countries/flag/vatican_city_holy_see.png');
    }

    &.venezuela {
        background-image: url('../images/countries/flag/venezuela.png');
    }

    &.vietnam {
        background-image: url('../images/countries/flag/vietnam.png');
    }

    &.virgin_islands_british {
        background-image: url('../images/countries/flag/virgin_islands_british.png');
    }

    &.virgin_islands_united_states {
        background-image: url('../images/countries/flag/virgin_islands_united_states.png');
    }

    &.vojvodina {
        background-image: url('../images/countries/flag/vojvodina.png');
    }

    &.wa_state {
        background-image: url('../images/countries/flag/wa_state.png');
    }

    &.wake_island {
        background-image: url('../images/countries/flag/wake_island.png');
    }

    &.wales {
        background-image: url('../images/countries/flag/wales.png');
    }

    &.wallis_and_futuna {
        background-image: url('../images/countries/flag/wallis_and_futuna.png');
    }

    &.wallonia {
        background-image: url('../images/countries/flag/wallonia.png');
    }

    &.west_papua {
        background-image: url('../images/countries/flag/west_papua.png');
    }

    &.western_sahara {
        background-image: url('../images/countries/flag/western_sahara.png');
    }

    &.world {
        background-image: url('../images/countries/flag/world.png');
    }

    &.xinjiang {
        background-image: url('../images/countries/flag/xinjiang.png');
    }

    &.yemen {
        background-image: url('../images/countries/flag/yemen.png');
    }

    &.yogyakarta {
        background-image: url('../images/countries/flag/yogyakarta.png');
    }

    &.zambia {
        background-image: url('../images/countries/flag/zambia.png');
    }

    &.zanzibar {
        background-image: url('../images/countries/flag/zanzibar.png');
    }

    &.zapatista_municipalities {
        background-image: url('../images/countries/flag/zapatista_municipalities.png');
    }

    &.zimbabwe {
        background-image: url('../images/countries/flag/zimbabwe.png');
    }
}