* {
    margin: 0px;
    padding: 0px;
}

body,
html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #15202e;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif !important;
}

[data-tip-top],
[data-tip-bottom] {
    position: relative;
}

[data-tip-top]:before,
[data-tip-top]:after,
[data-tip-bottom]:before,
[data-tip-bottom]:after {
    position: absolute;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: all 0.05s ease-out 0.05s;
}

[data-tip-top]:before,
[data-tip-top]:after {
    top: -210%;
}

[data-tip-bottom]:before,
[data-tip-bottom]:after {
    top: 70%;
}

[data-tip-top]:hover:before,
[data-tip-top]:hover:after,
[data-tip-bottom]:hover:before,
[data-tip-bottom]:hover:after {
    visibility: visible;
    opacity: 1;
}

[data-tip-top]:hover:before,
[data-tip-bottom]:hover:before {
    transform: translateY(10px);
}

[data-tip-top]:after,
[data-tip-bottom]:after {
    left: 50%;
    margin-top: 6px;
    background-color: #333333;
    color: #ffffff;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 10px;
    padding: 5px;
    transform: translateX(-50%) translateY(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

[data-tip-top]:after {
    content: attr(data-tip-top);
}

[data-tip-bottom]:after {
    content: attr(data-tip-bottom);
}

[data-tip-top]:hover:after,
[data-tip-bottom]:hover:after {
    transform: translateX(-50%);
}