.main {
    .modal {
        .modal-content {
            &.country {
                .content {
                    .confirm-container {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        text-align: center;
                        align-items: center;
                        justify-content: center;

                        button {
                            width: 50px;
                            height: 25px;
                            margin-top: 7px;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            outline: 0;
                            box-shadow: none;
                            border: 1px solid rgba(255, 255, 255, 0.1);
                            background: #2c3e50;
                            background-image: none;
                            cursor: pointer;
                            color: #ffffff;

                            &:hover {
                                background: #000000;
                            }
                        }
                    }
                }
            }
        }
    }
}