.footer {
    color: #ffffff;
    margin-top: auto;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 10px 0 20px 0px;
    height: 1vh;

    a {
        color: #ffffff;

        &:hover {
            text-decoration: underline;
            color: #00b9ff;
        }
    }
}