.main {
    .modal {
        .modal-content {
            &.country {
                .content {
                    .country-summary {
                        .statistics-sources {
                            .source-item {
                                .source-case {
                                    width: 15%;
                                    color: #00b9ff;
                                }

                                .source-death {
                                    width: 15%;
                                    color: #d22c32;
                                }

                                .source-recover {
                                    width: 15%;
                                    color: #4ed237;
                                }

                                .source-update {
                                    width: 15%;
                                    color: #b97d00;
                                }

                                .source-last_update {
                                    width: 25%;
                                }

                                &.total {
                                    margin-left: 11%;
                                }
                            }

                            .delimiter {
                                margin-bottom: 1px;
                                padding-top: 4px;
                                border-bottom: 1px #000000 solid;
                                width: 92%;
                            }
                        }
                    }
                }
            }
        }
    }
}