.main {
    .modal {
        .modal-content {
            &.country {
                .content {
                    .country-data {
                        display: flex;
                        flex-direction: column;
                        justify-content: left;
                        align-items: flex-start;
                        width: 97.5%;
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        user-select: none;
                        margin-bottom: 1.4rem;
                        margin-right: -5px;

                        &.no-data {
                            width: 100%;
                        }

                        .live-data {
                            position: relative;
                            margin-bottom: 15px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 319px) and (max-width: 800px) {
    .main {
        .modal {
            .modal-content {
                &.country {
                    .content {
                        .country-data {
                            width: 95.5%;
                            margin: auto;
                        }
                    }
                }
            }
        }
    }
}