.main {
    .modal {
        .modal-content {
            .content {
                .credits {
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    align-items: flex-start;
                    width: 95%;

                    .title {
                        text-align: left;
                        font-size: 15px;
                        border-bottom: 1px #000000 solid;
                        margin-bottom: 4px;
                        padding-bottom: 3px;
                        margin-top: 5px;
                        color: #00b9ff;
                        width: 90%;
                    }

                    .data {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        font-size: 11px;
                        width: 90%;
                    }

                    .note,
                    .creator {
                        display: inline-block;
                        margin-top: 2em;
                        font-size: 11px;
                        width: 90%;

                        span {
                            font-weight: bold;
                        }

                        a {
                            color: #00b9ff;
                        }
                    }

                    .creator {
                        width: 100%;
                        text-align: center;
                        display: block;
                        margin-top: 6px;
                    }
                }
            }
        }
    }
}

@media (min-width: 319px) and (max-width: 800px) {
    .main {
        .modal {
            .modal-content {
                &.credits {
                    width: 90%;
                    height: auto;
                    display: flex;
                    padding: 10px;
                }
            }
        }
    }
}