.main {
    .modal {
        .modal-content {
            .content {
                .summary {
                    .statistics-sources {
                        .source-item {
                            margin-top: 2px;
                            display: flex;
                            flex-direction: row;
                        }
                    }
                }
            }
        }
    }
}