.main {
    .modal {
        .modal-content {
            &.country {
                .content {
                    .country-updates {
                        .data {
                            .update-item {
                                &.alert {
                                    &.all {
                                        -webkit-animation: alert-all 2s ease-in-out infinite;
                                        animation: alert-all 2s ease-in-out infinite;
                                    }

                                    &.death {
                                        -webkit-animation: alert-death 2s ease-in-out infinite;
                                        animation: alert-death 2s ease-in-out infinite;
                                    }

                                    &.recover {
                                        -webkit-animation: alert-recover 2s ease-in-out infinite;
                                        animation: alert-recover 2s ease-in-out infinite;
                                    }

                                    &.case {
                                        -webkit-animation: alert-case 2s ease-in-out infinite;
                                        animation: alert-case 2s ease-in-out infinite;
                                    }

                                    .death,
                                    .case,
                                    .recover {
                                        i {
                                            animation: shake 2s 0s infinite;
                                            -moz-animation: shake 2s 0s infinite;
                                            -webkit-animation: shake 2s 0s infinite;
                                            -o-animation: shake 2s 0s infinite;
                                        }
                                    }
                                }

                                .source {
                                    width: 10%;
                                    text-align: center;
                                }

                                .case {
                                    width: 20%;
                                    color: #00b9ff;
                                    margin-left: 3px;
                                    margin-top: 0px;
                                }

                                .death {
                                    width: 20%;
                                    color: #d22c32;
                                    margin-top: 0px;
                                }

                                .recover {
                                    width: 20%;
                                    color: #4ed237;
                                    margin-top: 0px;
                                }

                                .time {
                                    width: 30%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}