.main {
    .main-container {
        .container {
            .box {
                &.master {
                    .actions {
                        width: 100%;
                        border-top: 2px #15202e solid;
                        display: flex;
                        flex-direction: row;
                        padding-top: 10px;

                        button,
                        a {
                            background-color: transparent;
                            color: #ffffff;
                            border: 0;
                            outline: 0;
                            font-size: 13px;

                            i {
                                font-size: 13px;
                                cursor: pointer;
                                margin-right: 5px;

                                &:hover {
                                    -webkit-transform: scale(1.03);
                                    transform: scale(1.03);
                                    color: #00b9ff;
                                }

                                &.on {
                                    color: #00b9ff;
                                }

                                &.fa-tools {
                                    cursor: default;

                                    &:hover {
                                        -webkit-transform: none;
                                        transform: none;
                                        color: #ffffff;
                                    }

                                    &.on {
                                        color: #ffef00;
                                    }
                                }

                                &.fa-power-off {
                                    &.on {
                                        color: #4ed237;
                                    }

                                    &.off {
                                        color: #d22c32;
                                    }
                                }
                            }
                        }

                        a {
                            position: relative;
                            top: -4px;
                        }

                        button {
                            position: relative;
                            top: -9px;
                        }

                        .mode {
                            width: 27%;
                            height: 23px;
                            border-left: 2px #15202e solid;
                            position: relative;
                            top: -8px;
                            left: -1px;
                            line-height: 2;
                            padding-left: 3px;
                            padding-right: 2px;
                        }

                        .contact {
                            width: 34%;
                            text-align: right;
                            margin-right: 0px;
                            border-left: 2px #15202e solid;
                            position: relative;
                            top: -8px;
                            left: 0px;
                            line-height: 2;
                            padding-left: 3px;
                            padding-right: 3px;
                        }
                    }
                }
            }
        }
    }
}