.main {
    .main-container {
        .container {
            .box {
                &.master {
                    .settings {
                        .options {
                            .buttons {
                                .option {
                                    width: 110px;
                                    height: 20px;
                                    display: flex;
                                    flex-direction: row;
                                    text-align: center;
                                    align-items: center;
                                    justify-content: center;
                                    margin-top: 3px;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    outline: 0;
                                    box-shadow: none;
                                    border: 1px solid rgba(255, 255, 255, 0.1);
                                    background: #2c3e50;
                                    background-image: none;
                                    cursor: pointer;
                                    color: #ffffff;
                                    font-size: 11px;

                                    &:hover {
                                        background: #000000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}