div {
    color: #ffffff;
}

.container-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;

    .item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100px;
        width: 150px;
        margin: 5px;
        padding: 5px;
        border-width: 3px;
        border-style: solid;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 1px 7px 22px -6px rgba(0, 0, 0, 0.53);
        outline: 1px solid rgba(255, 255, 255, 0.4);
        color: #ffffff;
        text-align: center;

        &:hover {
            -webkit-transform: scale(1.03);
            transform: scale(1.03);
            background-color: rgba(255, 255, 255, 0.2);
        }

        h2 {
            margin-top: 5px;
            font-size: 14px;
        }

        i {
            font-size: 2rem;
        }
    }
}