.main {
    .modal {
        .modal-content {
            &.country {
                .content {
                    .country-summary {
                        .statistics-sources {
                            .source-item {
                                .source-name {
                                    width: 10%;
                                    margin-right: 5px;
                                    margin-top: 1px;
                                }

                                &.alert {
                                    .source-name {
                                        text-decoration: blink;
                                        -webkit-animation-name: blink;
                                        -webkit-animation-duration: 1s;
                                        -webkit-animation-iteration-count: infinite;
                                        -webkit-animation-timing-function: ease-in-out;
                                        -webkit-animation-direction: alternate;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}