.main {
    .page {
        .main-container {
            .container {
                .box {
                    .identity {
                        .image {
                            height: 32px;
                            margin-left: 5px;

                            i {
                                display: inline-block;
                                width: 32px;
                                height: 32px;

                                &.world {
                                    position: relative;
                                    top: 3px;
                                    background-image: url('../../../../assert/images/world32.png');
                                    background-repeat: no-repeat;
                                    background-size: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}