.main {
    .modal {
        .modal-content {
            &.country {
                .content {
                    .country-summary {
                        display: flex;
                        flex-direction: column;
                        justify-content: left;
                        width: 98%;
                        margin-bottom: 5px;

                        .title {
                            text-align: left;
                            font-size: 15px;
                            margin: 20px;
                            margin-top: 0px;
                            margin-bottom: 4px;
                            color: #00b9ff;
                            margin-left: 0px;
                            width: 88%;
                        }

                        .data {
                            display: flex;
                            flex-direction: column;
                            justify-content: left;
                            height: 100%;
                            width: 100%;
                            font-size: 11px;
                            margin-top: 2px;
                            margin-left: 17px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 319px) and (max-width: 800px) {
    .main {
        .modal {
            .modal-content {
                &.country {
                    .content {
                        .country-summary {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}