@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.main {
    .page {
        visibility: visible;
        opacity: 1;

        .main-container {
            .container {
                display: -webkit-box;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                flex-wrap: wrap;
                -webkit-box-pack: center;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                animation: fadeIn 3s;
                -moz-animation: fadeIn 3s;
                -webkit-animation: fadeIn 3s;
                -o-animation: fadeIn 3s;
                font-weight: 300;
                font-size: 11px;
                margin-top: 5px;

                &.horizontal {
                    flex-direction: row;
                }

                &.vertical {
                    flex-direction: column;
                }
            }
        }
    }
}