[data-tip-country] {
    position: relative;
}

[data-tip-country]:before,
[data-tip-country]:after {
    top: -270%;
    position: absolute;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: all 0.05s ease-out 0.05s;
}

[data-tip-country]:hover:before,
[data-tip-country]:hover:after {
    visibility: visible;
    opacity: 1;
}

[data-tip-country]:hover:before {
    transform: translateY(10px);
}

[data-tip-country]:after {
    content: attr(data-tip-country);
    left: 0%;
    margin-top: 6px;
    background-color: #333333;
    color: #ffffff;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 10px;
    padding: 5px;
    transform: translateX(-50%) translateY(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

[data-tip-country]:hover:after {
    transform: translateX(-50%);
}

.main {
    .modal {
        .modal-content {
            &.country {
                .content {
                    .country-identity {
                        .identity-details {
                            .details-list {
                                .details-item {
                                    margin-bottom: 3px;
                                    margin-right: 3px;

                                    .icon {
                                        margin-right: 4px;

                                        i {
                                            margin-right: 4px;
                                        }

                                        a {
                                            color: #ffffff;

                                            &:hover {
                                                color: #00b9ff;
                                            }
                                        }
                                    }

                                    &.icon-only {
                                        .icon {
                                            margin-right: 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}